<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775348123647-o2bvs8jlcv3sece8gpi479esmukp7lgv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775348123647-o2bvs8jlcv3sece8gpi479esmukp7lgv</string>
	<key>API_KEY</key>
	<string>AIzaSyAliF0C8ilCHTz1TDfA8alaWcEuwrGv-UM</string>
	<key>GCM_SENDER_ID</key>
	<string>775348123647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.habitude.Habitude</string>
	<key>PROJECT_ID</key>
	<string>habitude-b5d85</string>
	<key>STORAGE_BUCKET</key>
	<string>habitude-b5d85.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775348123647:ios:298d8cd3f9fc936ffe59ca</string>
	<key>DATABASE_URL</key>
	<string>https://habitude-b5d85.firebaseio.com</string>
</dict>
</plist>